/* обнуляем отступы и убираем бордюры */
/* приводим все к одной базовой линии */
/* чтобы не проскакивали левые фоны, установленные по умолчанию */
/* размер шрифта всем одинаковый */
/* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    border: 0;
                              
    vertical-align: baseline; 
    font-size: 100%;                     
}
html, body {
	height: 100%;
  }
